:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-color: #847996;
    --alt-color: #f78154;
    --lemon-color: #c2cfb2;
    --purple-color: #1a1423;
}

.bg-main {
    background-color: var(--main-color);
}
.bg-alt {
    background-color: var(--alt-color);
}
.bg-lemon {
    background-color: var(--lemon-color);
}
.bg-purple {
    background-color: var(--purple-color);
}
.c-main {
    color: var(--main-color);
}
.c-alt {
    color: var(--alt-color);
}
.c-lemon {
    color: var(--lemon-color);
}
.c-purple {
    color: var(--purple-color);
}

.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.d-block {
    display: block;
}
@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}

.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.c-black {
    color: black;
}
.c-grey {
    color: var(--grey-color);
}
.c-white {
    color: white;
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color);
}

.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.p-2 {
    padding: 2px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.m-0 {
    margin: 0;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-50 {
    margin-bottom: 50px;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-20 {
    margin-left: 20px;
}

.p-relative {
    position: relative;
}
.over-hidden {
    overflow: hidden;
}

.txt-c {
    text-align: center;
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}

.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fw-bold {
    font-weight: bold;
}

.rad-6 {
    border-radius: 6px;
}
.b-none {
    border: none;
}


.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}